.title {
  padding-top: 5%;
  padding-bottom: 5%;

  font-size: 20px;
  text-align: center;

  display: flex;
  justify-content: center;

  position: relative;
}

.title p {
  position: relative;
  z-index: 1;
}

.pulse {
  display: inline;
  position: absolute;
  z-index: 0;

  width: 800px;
  height: 500px;
  background: radial-gradient(
    circle,
    rgba(133, 181, 212, 0.15) 0%,
    rgba(148, 187, 233, 0) 40%
  );
  animation: pulse 2s infinite;
  border-radius: 60%;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
