.App {
  height: 100%;

  height: 100dvh;
  width: 100vw;

  color: #fff;

  display: flex;
  justify-content: start;
  align-items: center;

  flex-flow: column;
}

.controlls {
  display: flex;
  justify-content: center;
  flex-flow: column;
  align-items: center;

  gap: 55px;

  font-size: 20px;

  margin-bottom: 20px;
}

.controlls-sub {
  display: flex;
  justify-content: space-between;
  align-items: end;
  gap: 30px;
}