.App {
  background-color: #0b0e19;

  height: 100%;

  height: 100dvh;
  width: 100vw;

  color: #fff;

  display: flex;
  justify-content: space-between;
  align-items: center;

  flex-flow: column;
}

.controlls {
  display: flex;
  justify-content: center;
  flex-flow: column;
  align-items: center;

  gap: 20px;

  font-size: 20px;

  margin-bottom: 40px;
}
